<section id="form">
    <div><br>
        <div class="contact-form">
  
          
            <form name="contact" method="POST" data-netlify="true" action="/succes_page.html"><br><br>
                
                <h2 class="text-center pt-xl-5" id="contacta"><strong>CONTACTA AMB NOSALTRES</strong></h2>
                <br><br>
              <!-- Name input -->
              <div class="mb-4">
                <label class="form-label" for="name">Nom i cognoms</label><br>
                <input class="form-control" id="name" type="text" placeholder="Nom i cognom" name="fullName"/>
              </div>
  
              <!-- Email address input -->
              <div class="mb-4">
                <label class="form-label" for="emailAddress">Correu electrònic</label><br>

                <input class="form-control" id="emailAddress" type="email" placeholder="Email" name="email" />
              </div>
  
  
              <!-- Message input -->
              <div class="mb-4">
                <label class="form-label" for="message">Missatge</label><br>
                <textarea class="form-control" id="message" type="text" placeholder="Missatge" name="message"
                  style="height: 10rem;"></textarea><br>
              </div>
  
              <!-- Form submit button -->
              <div class="div-button">
                <button class="form-button" type="submit">Enviar</button>
              </div>
  
  
            </form>
            <br><br>
        </section>

<style scoped>
            
form.astro-PYSROJEP {
    width: 40%;
}

/*CONTACTFORM MOBILE RESPOSIVE */
@media (max-width: 992px) {
  .col-6 {
    flex: 0 0 auto;
    width: 90%;
}
}

.div-button {
    display:flex;
    justify-content: center;
}
.form-button {
    color:white;
    font-size:22px;
    border: 1px solid white;
    padding-right:0.6em;
    padding-bottom: 0.2em;
    padding-left: 0.6em;
    padding-top:0.2em;
    border-radius:5px;
    border-width: 2px;
}
.form-label {
    color:white;
    font-size:22px;
    margin-bottom:2em;
}
.form-control {
    width: 100%;
    height: 2em;
    border-radius: 5px;
}
.contact-form {
    display:flex;
    justify-content: center;
}
#contacta {
background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
background-position: 0 100%;
background-size: 100% 4px;
background-repeat: repeat-x;
font-size:28px;
display:flex;
justify-content: center;
color:white;
}
        </style>