<main class="link-card-grid">
  <li class="link-card-grid">
	
  <figure>
      <img
        class="w-full shadow-3xl"
        src="https://www.alianzaeditorial.es/imagenes/libros/grande/9788420674230-tiempos-dificiles.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
  <figure>
      <img
        class="w-full shadow-3xl"
        src="https://www.alianzaeditorial.es/imagenes/libros/grande/9788413627540-el-tio-goriot.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>	
</li>
<li class="link-card-grid"><figure>
<img
  class="w-full shadow-3xl"
  src="https://quelibroleo.com/images/libros/libro_1360114364.jpg"
  alt=""
  width="1310"
  height="873"
/>
</figure></li>
<li class="link-card-grid">
<figure>
<img
  class="w-full shadow-3xl"
  src="https://pictures.abebooks.com/isbn/9788420638393-es.jpg"
  alt=""
  width="1310"
  height="873"
/>
</figure>
</li>

<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
        src="https://www.albaeditorial.es/wp-content/uploads/2020/10/9788484283263-michael-kohlhaas-alba-editorial.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
        src="https://www.alianzaeditorial.es/imagenes/libros/grande/9788420669861-el-desierto-de-los-tartaros.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
    src="https://impedimenta.es/wp-content/uploads/9788415130093_SOLARIS_LEM_RGB.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
    src="https://www.alianzaeditorial.es/imagenes/libros/grande/9788420635934-las-afinidades-electivas.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
    src="https://www.siruela.com/libros/grandes/9788498413762_L38_04_l.png"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
    src="https://www.anagrama-ed.es/uploads/media/portadas/0001/14/xthumb_13558_portadas_big.jpeg.pagespeed.ic.ihcH63P8bX.webp"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>

<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
    src="https://www.anagrama-ed.es/uploads/media/portadas/0001/15/35ebe21c080ae2fc3a20306e493ebeb192eec2e3.jpeg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<li class="link-card-grid">
<figure>
      <img
        class="w-full shadow-2xl"
    src="https://www.galaxiagutenberg.com/wp-content/uploads/2012/05/Cub_Una-soledad-demasiado-ruidosa_dilve.jpg"
        alt=""
        width="1310"
        height="873"
      />
    </figure>
</li>
<br><br>
</main>
<style>

	main {
		margin: auto;
		padding: 1rem;
		width: 950px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
	}

  figure img {
    max-height: 300px;
    object-fit: contain;
    gap: 2px;
  }

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
    object-fit: cover;
    
	}

.link-card {
  list-style: none;
  display: flex;
  padding: 1px;
}

.link-card:is(:hover, :focus-within) {
  background-position: 0;
  background-image: var(--accent-gradient);
}
.link-card:is(:hover, :focus-within) h2 {
  color: rgb(var(--accent-light));
}
</style>
