---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-charcoal-500">
    <slot />
  </body>
  <Footer />
</html>
